@import "../abstract/fonts.scss";
@import "../abstract/colors.scss";

.mainLoginPageWrapper{
    width: 100%;
    height: 100%;
   
}
.mainLoginPageDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    
}
.rightContainerLoginPageWrapper{
    height: 100%;
    width: 30%;
    border: 0.1rem solid rgb(10, 10, 10);
    box-shadow: 0rem 0rem 1rem 0rem black;
    z-index: 20;
    background-image: url("../../background.jpeg");
}
.rightContainerLoginPageDiv{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}
.leftContainerLoginPageWrapper{
    width: 100%;
    height: 100%;
    background-image: $goldGradient;
    
}
.leftContainerLoginPageDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}
.leftContainerLoginPageHeaderDiv{

}
.leftContainerLoginPageHeaderText{
    font-family: bebasNeue;
    font-size: 1.25rem;
    color: $textBlack;
    letter-spacing: 0.25rem;
    padding-top: 1rem;
   
 
}


.leftContainerLoginPageMainHeaderDiv{
    
}
.leftContainerLoginPageMainHeaderText{
    font-family:bebasNeue;
    font-size: 6rem;
    color: $textBlack;
}
.leftContainerLoginPageFormWrapper{
    
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.leftContainerLoginPageFormDiv{
    background-color: $backgroundDarkTransparent;
    border: 0.05rem solid $textBlack;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    grid-gap: 1rem;
    padding: 2rem 1rem;
   
}
.loginPageFormLabelWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.loginPageFormLabelDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 80%;
    grid-gap: 1rem;
    color: $textDarkWhite;
    font-size: 1.25rem;
    font-family: bebasNeue;
}
.loginPageFormInputField{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    background-color: $textBlack;
    border: 0.1rem solid rgb(34, 34, 34);
    color: $goldBright;
    padding: 0.5rem 0.25rem;
    letter-spacing: 0.1rem;
}

.signUpLink{

}
.aSignUpLink{
    font-size: 0.8rem;
    font-family: bebasNeue;
    color: $linkColor;
    text-decoration-color:$linkColor ;
    letter-spacing: 0.1rem;

}

.signUpLinkDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}