@import "../abstract/colors.scss";


.homepageIntroWrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
  
}
.homepageIntroDiv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    

}
.homepageIntroBioWrapper{
    width: 35vh;
}
.homepageIntroSocialDiv{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    grid-gap: 1rem;
}