@import "../abstract/colors.scss";


.homepage2IntroWrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
  
}
.homepage2IntroDiv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    

}
.homepageIntroBioWrapper{
    display: flex;
    flex-flow: column nowrap;

}
.homepageIntroSocialDiv{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
 
}