@import "../abstract/colors.scss";
@import "../abstract/fonts.scss";

.homepageIntroBioIntroduction{
    font-family: bebasNeue;
    color: $textDarkWhite;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    border-bottom: 0.1rem solid $textDarkWhite;
    padding-bottom: 0.5rem;
}
.homepageIntroBioAlias{
    font-family: stormFaze;
    font-size: 5rem;
    
}
.homepageIntroBioNameDiv{
    min-width: 100%;

}