$goldGradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

$darkGradient: linear-gradient(315deg, rgb(5,5,5) 0%, rgb(10,10,10) 74%);


$goldBright:#FEDB37;
$textDarkWhite: rgb(177, 177, 177);

$backgroundDarkTransparent: rgba(0, 0, 0, 0.664);