


@font-face {
    font-family: lakmus;
    src: url("../../fonts/Lakmus.ttf");
}
@font-face {
    font-family: floorLight;
    src: url("../../fonts/Floorlight.ttf");
}
@font-face {
    font-family: johnnyFever;
    src: url("../../fonts/johnny-fever.ttf");
}
@font-face {
    font-family: sixCaps;
    src: url("../../fonts/SixCaps.ttf");
}
@font-face {
    font-family: stripesCaps;
    src: url("../../fonts/StripesCaps.ttf");
}
@font-face {
    font-family: unique;
    src: url("../../fonts/Unique.ttf");
}
@font-face {
    font-family: stormFaze;
    src: url("../../fonts/stormfaze.ttf");
}
@font-face {
    font-family: studeBaker;
    src: url("../../fonts/StudebakerNF.otf");
}
@font-face {
    font-family: bebasNeue;
    src: url("../../fonts/BebasNeue-Regular.otf");
}
@font-face {
    font-family: kingsCross;
    src: url("../../fonts/KingsCross.ttf");
}