@import "./colors.scss";
@import "./fonts.scss";
@keyframes widthExpand{
    0%{
        width: 20%;

    }
    100%{
        width: 25%;
   
    }
}
@keyframes widthContract{
    0%{
        width: 25%;
      
    }
    100%{
        width: 20%;

    }
}
.itemListSidebarWrapper{
    width: 20%;
    background-color: $backgroundDarkTransparent;

    overflow-y: scroll;
    text-decoration: none;
    animation: widthContract 0.5s; 
}

.itemListSidebarWrapper:hover{
    width: 25%;
    
    animation: widthExpand 0.5s; 
}

.itemListSidebarItemWrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.itemListSidebarItemDiv{
    background-color: $backgroundDarkTransparent;
    border: 0.01rem solid rgba(100,100,100,0.6);
    font-family: bebasNeue;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5rem;
    animation: itemListSidebarItemDivHoverReverse 0.5s;

}
@keyframes itemListSidebarItemDivHover{
    0%{
    
        border: 0.01rem solid rgba(100,100,100,0.6);;
    }
    100%{
        
        border: 0.01rem solid $goldBright;
    }
}
@keyframes itemListSidebarItemDivHoverReverse{
    0%{
     
        border: 0.01rem solid $goldBright;
    }
    100%{
     
        border: 0.01rem solid rgba(100,100,100,0.6);;
    }
}
.itemListSidebarItemDiv:hover{
    border: 0.01rem solid $goldBright;
    z-index: 20;
    animation: itemListSidebarItemDivHover 0.5s;
    
}
.itemListSidebarItemImg{
    height: 5rem;
    background-size: cover;
    width: 5rem;

}
.itemListSidebarItemTitle{
    font-size: 0.9rem;
    width: 100%;
    font-family: bebasNeue;
    text-decoration: none;
    text-decoration-line: none;
    
    text-align: center;
}